@using Umbraco.SampleSite.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@{
    Layout = "master.cshtml";
    var gallery = Model.Root().Children.OfType<GalleryPage>().FirstOrDefault().Children();
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

@foreach (GalleryImage galleryImage in gallery)
{
    <p>@galleryImage.Titel</p>
}

<section class="section">
    <div class="container text-container">

        <div class="row">
            <div class="col-md-6">
                <h2>@Model.MapHeader</h2>
                @Model.MapCoordinates

            </div>

            <div class="col-md-6">
                <h2>@Model.ContactFormHeader</h2>
                @Model.ContactIntro
                @{
                   await Html.RenderPartialAsync("Partials/ContactForm", new ContactFormViewModel());
                }
            </div>

        </div>
    </div>
</section>