@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Courses>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
	var backgroundImage = Model.BannerImage != null ? Model.BannerImage.Url() : String.Empty;
	var pageTitle = Model.PageTitle ?? string.Empty;
}

@await Umbraco.RenderMacroAsync("BannerImage", new {imageUrl=@backgroundImage, bannerText=@pageTitle})
<section class="section">

    <div class="container text-container">

        <div class="courses-div">
            @Model.Value("introdructionText")
        </div>
        <div class="courses-div">
            <h2 class="courses-text-center">
                @Model.Value("shortCourseInformationHeading",
                fallback: Fallback.ToDefaultValue, defaultValue: "")
            </h2>
                @Model.Value("shortCourseInformation")
        </div>
        <div class="courses-div">
            <h2 class="courses-text-center">
                @Model.Value("availbleCoursesHeading")
            </h2>
            <div class="courses-center">
                @await Html.GetBlockGridHtmlAsync(Model, "availbleCourses")
            </div>
                
        </div>
        <div class="courses-div">
            <h2 class="courses-text-center">
                @Model.Value("priceInformationHeading")
            </h2>
            <p>
                @Model.Value("priceInformation")
            </p>
        </div>
        <div class="courses-div">
            <h2 class="courses-text-center">
                @Model.Value("moreCourseInformationHeading")
            </h2>
            <p>
                @Model.Value("moreCourseInformation")
            </p>
        </div>
    </div>
    <div>
        @{
            await Html.RenderPartialAsync("Partials/CoursesForm");
        }
    </div>

</section>