@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Courses>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
	var backgroundImage = Model.BannerImage != null ? Model.BannerImage.Url() : String.Empty;
	var pageTitle = Model.PageTitle ?? string.Empty;
}

@await Umbraco.RenderMacroAsync("BannerImage", new {imageUrl=@backgroundImage, bannerText=@pageTitle})
<section class="section">

    <div class="container text-container">

        <div>
            @Model.Value("introdructionText")
        </div>
        <div>
            <h2>
                @Model.Value("shortCourseInformationHeading",
                fallback: Fallback.ToDefaultValue, defaultValue: "")
            </h2>
            <p>
                @Model.Value("shortCourseInformation")
            </p>
        </div>
        <div>
            <h2>
                @Model.Value("availbleCoursesHeading")
            </h2>
            <p>
                @Model.Value("availbleCourses")
            </p>
        </div>
        <div>
            <h2>
                @Model.Value("priceInformationHeading")
            </h2>
            <p>
                @Model.Value("priceInformation")
            </p>
        </div>
        <div>
            <h2>
                @Model.Value("moreCourseInformationHeading")
            </h2>
            <p>
                @Model.Value("moreCourseInformation")
            </p>
        </div>
    </div>

</section>
