@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GalleryPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
    var backgroundImage = Model.BannerImage != null ? Model.BannerImage.Url() : String.Empty;
    var pageTitle = Model.PageTitle ?? string.Empty;
    bool testVariable = false;
}



@await Umbraco.RenderMacroAsync("BannerImage", new {imageUrl=@backgroundImage, bannerText=@pageTitle})

<section class="container text-container">
    <article>
        @await Html.GetBlockGridHtmlAsync(Model, "galleryText")
    </article>
</section>

<section class ="container">
    <hr/>
    <div class="gallery-grid">
        @foreach (GalleryImage galleryImage in Model.Children<GalleryImage>())
        {
            <button class="gallery-grid-item" aria-label="Öppna @galleryImage.Titel" onclick="showModal(
            {
                title: '@galleryImage.Titel',
                url: '@galleryImage.Image.Url()',
                altText: '@galleryImage.AltText',
                description: '@galleryImage.Beskrivning',
                technique: '@galleryImage.Technique',
                series: '@string.Join(", ", @galleryImage.Series)',
                seriesTags: '@string.Join(", ", @galleryImage.Tags)',
                width: '@galleryImage.Width',
                height: '@galleryImage.Height',
                availability: '@galleryImage.Availability',
                miscTags: '@string.Join(", ", @galleryImage.MiscTags)',

            }
            )">
                <img class="gallery-grid-item-image" src='@galleryImage.Image?.Url()' alt="@galleryImage.AltText"></img>
            </button>
        }
    </div>
</section>

<section id="gallery-modal" class="gallery-modal-overlay">
    <div id="gallery-modal-container" tabindex="1" class="container gallery-modal-inner">
        <button id="btn-modal-exit" class="btn-modal-exit" onclick="hideModal()" aria-label="Stäng">X</button>
        <img id="gallery-modal-image" class="gallery-modal-image"/>
        <div class="gallery-modal-title-line">
            <h2 id="gallery-modal-title">Test Title</h2>
            <a id="gallery-modal-link" target="_blank">Öppna i helskärm ⧉</a>
        </div>
        <p id="gallery-modal-description"></p>
        <div>
            <h3>Teknik</h3>
            <p id="gallery-modal-technique"></p>
        </div>
        <div>
            <h3>Serie</h3>
            <p id="gallery-modal-series"></p>
            <h4>Motiv</h4>
            <p id="gallery-modal-series-tags"></p>
        </div>
        <div>
            <h3>Mått</h3>
            <p id="gallery-modal-size"></p>
        </div>
        
        <div>
            <h3>Detaljer</h3>
            <p id="gallery-modal-availability"></p>
            <h4>Taggar</h4>
            <p id="gallery-modal-misc-tags"></p>
        </div>

    </div>
</section>


<script>

    function showModal(imageObject){
        //Title
        $("#gallery-modal-title").text(imageObject.title);
        $("#gallery-modal-link").attr("href", imageObject.url);
        
        //Image
        $("#gallery-modal-image").attr("src", imageObject.url);
        $("#gallery-modal-image").attr("alt", imageObject.altText);
        
        //Optional Description
        $("#gallery-modal-description").text(imageObject.description);

        //Technique
        $("#gallery-modal-technique").text(imageObject.technique);

        //Series

        $("#gallery-modal-series").text(imageObject.series);
        $("#gallery-modal-series-tags").text(imageObject.seriesTags);


        //Sizes
        $("#gallery-modal-size").text(imageObject.width + "x" + imageObject.height);
        
        //Details
        $("#gallery-modal-availability").text("Tillgänglighet: " + imageObject.availability);
        $("#gallery-modal-misc-tags").text(imageObject.miscTags);
        

        //Show the modal
        $("#gallery-modal").show();

        
        $("#gallery-modal").scrollTop(-200);

        
        //Hide modal if we click outside the inner modal space
        $("#gallery-modal").on('click', event => checkHide(event));
        //Hide modal if we press escape
        $(document).keyup(function(event){
           if(event.originalEvent.key === "Escape"){
                hideModal();    
           }
        });
        
        //Finally, focus the modal so we can scroll via our keyboard
        $("#gallery-modal-container").focus();

    }
    
    function checkHide(e) {
        if (e.target.id === "gallery-modal") {
            hideModal();
        }
        
    }
    
    function hideModal() {
        $("#gallery-modal").off('click');
        $("#gallery-modal").hide();
    }

</script>