
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url() : String.Empty;
}
<section class="section section--half-height background-image-full overlay overlay--dark section--content-center"
         style="background-image: url('@backgroundImage')">
    <div class="section__hero-content">
        <h1>@Model.HeroHeader</h1>
        <p class="section__description">@Model.HeroDescription</p>
    </div>
</section>


<section class="section section">
    @await Umbraco.RenderMacroAsync("FrontPageMenuItem", new {thumbnail="1142,1156", label="Umbraco stuff", url="dn.se"})
    @*@await Umbraco.RenderMacroAsync("FrontPageMenuItem", new {thumbnail="[{&quot;key&quot;:&quot;eeb711df-ed50-45f3-b196-0246b9b6e203&quot;,&quot;mediaKey&quot;:&quot;1bc5280b-8658-4027-89d9-58e2576e469b&quot;,&quot;crops&quot;:[],&quot;focalPoint&quot;:{&quot;left&quot;:0.5,&quot;top&quot;:0.5}}]", label="Test", url="products"})*@
</section>

<section class="section section">
    @await Html.GetBlockGridHtmlAsync(Model, "bodyText")
</section>

<section class="section section--themed">

    <div class="container">
        <div class="row">

            <div class="ta-center">
                <h2>@Model.FooterHeader</h2>
                <p class="section__description mw-640 ma-h-auto">@Model.FooterDescription</p>

                <a class="button button--border--light_solid" href="@Model.FooterCtalink.Url()">
                    @Model.FooterCtacaption
                </a>

            </div>

        </div>
    </div>

</section>