
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url() : String.Empty;
    int? artgalleryImage = Model.KonstgalleriBild?.Id ?? null;
    int? coursesImage = Model.KurserBild?.Id ?? null;
    int? portraitImage = Model.PortraettBild?.Id ?? null;
    int? restorationImage = Model.RestaureringBild?.Id ?? null;
    int? frameWorkshopImage = Model.RamverkstadBild?.Id ?? null;
    
    string commentOne =  Model.CommentOne;
    string commentTwo  =  Model.CommentTwo;
    string commentThree =  Model.CommentThree;
    string commentFour =  Model.CommentFour;
    string commentFive =  Model.CommentFive;

    string authorOne = Model.AuthorOne;
    string authorTwo = Model.AuthorTwo;
    string authorThree = Model.AuthorThree;
    string authorFour = Model.AuthorFour;
    string authorFive = Model.AuthorFive;
}

<section class="section section--half-height background-image-full overlay overlay--dark section--content-center"
         style="background-image: url('@backgroundImage')">
    <div class="section__hero-content">
        <h1 class="hero-text">@Model.HeroHeader</h1>
        <p class="section__description">@Model.HeroDescription</p>
    </div>
</section>


<section class="container cardmenu">
    <div class="row">
        <div class="col-xs-12">
            @await Umbraco.RenderMacroAsync("FrontPageMenuItem", 
            new { thumbnail = @artgalleryImage, label = "Galleri", url = "galleri" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            @await Umbraco.RenderMacroAsync("FrontPageMenuItem", 
            new { thumbnail = @coursesImage, label = "Kurser", url = "kurser" })
        </div>

        <div class="col-xs-12 col-md-6">
            @await Umbraco.RenderMacroAsync("FrontPageMenuItem", 
            new { thumbnail = @portraitImage, label = "Porträtt", url = "portraett" })
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-6">
            @await Umbraco.RenderMacroAsync("FrontPageMenuItem", 
            new { thumbnail = @restorationImage, label = "Restaurering", url = "restaurering" })
        </div>

        <div class="col-xs-12 col-md-6">
            @await Umbraco.RenderMacroAsync("FrontPageMenuItem", 
            new { thumbnail = @frameWorkshopImage, label = "Ramar", url = "ramar" })
        </div>
    </div>
</section>

<div class="main-gallery">
    <div class="gallery-cell">
        <div class="comment-container">
            <p class="comment-text">@commentOne</p>
            <p class="comment-author">@authorOne</p>
        </div>
    </div>
    <div class="gallery-cell">
        <div class="comment-container">
            <p class="comment-text">@commentTwo</p>
            <p class="comment-author">@authorTwo</p>
        </div>
    </div>
    <div class="gallery-cell">
        <div class="comment-container">
            <p class="comment-text">@commentThree</p>
            <p class="comment-author">@authorThree</p>
        </div>
    </div>
    <div class="gallery-cell">
        <div class="comment-container">
            <p class="comment-text">@commentFour</p>
            <p class="comment-author">@authorFour</p>
        </div>
    </div>
    <div class="gallery-cell">
        <div class="comment-container">
            <p class="comment-text">@commentFive</p>
            <p class="comment-author">@authorFive</p>
        </div>
    </div>
</div>

