
@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage

@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Media
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedContentQuery PublishedContentQuery
@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedUrlProvider PublishedUrlProvider
@inject IImageUrlGenerator ImageUrlGenerator

@{
    string url = Model.GetParameterValue<string>("url", "") ?? "";
    string label = Model.GetParameterValue<string>("label", "") ?? "";
    var mediaIds = Model?.MacroParameters["thumbnail"] as string;

    //Select the first image that we've passed in
    IPublishedContent? media = null;
    if (mediaIds != null)
    {
        foreach (var mediaId in mediaIds.Split(','))
        {
            var parsedMedia = PublishedContentQuery.Media(mediaId);
            if (parsedMedia != null && parsedMedia.IsDocumentType("Image"))
            {
                media = parsedMedia;
                break;
            }
        }
    }
}

<a href="@url">
    <div class="cardmenu-item">
        <div class="cardmenu-image-container">
            <img class="cardmenu-image" src="@media.GetCropUrl(ImageUrlGenerator, PublishedValueFallback, PublishedUrlProvider, width: 400, height: 400)" alt="@media.Name"/>
        </div>
        <h2 class="cardmenu-label">
            @label
        </h2>
    </div>
    @*<article class="cardmenu-item">
        @if (media != null)
        {
            <div class="cardmenu-thumbnail">
            </div>
        }<p class="cardmenu-label">
            @label
        </p>
        
    </article>*@
</a>
@*@if (mediaIds != null)
{
    <div class="row">
        <div class="col-xs-6 col-md-3">
                <a href="@media.Url(PublishedUrlProvider)" class="thumbnail">
                    <img src="@media.GetCropUrl(ImageUrlGenerator, PublishedValueFallback, PublishedUrlProvider, width: 200, height: 200)" alt="@media.Name"/>
                </a>
            </div>
    </div>
}*@
